.header {
    grid-area: header;
    height: 90px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    padding-right: 20px;

}

