.table {
    border-collapse:collapse;
    border:1px solid #000000;
}

.tableHeader {
    text-align:center;
    background:none repeat scroll 0 0 #000000;
    border-bottom:1px solid #000000;
    padding:10px;
    color: #D3D3D3;
}

.tableOddRow {
    text-align:center;
    padding:30px;
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #000000;
}

.tableEvenRow {
    text-align:center;
    padding:30px;
    background:none repeat scroll 0 0 #D3D3D3;
    border:1px solid #000000;
}

#activateBtn {
    border-color: green;
    color: green;
}